@model Slider
@{ 
    ViewData["Title"] = "Create";
}
<div class="container mt-5">
    <h3>Create Slider</h3>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="@Model.Title" class="form-label">Title</label>
            <input asp-for="@Model.Title" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Title"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ImageFile" class="form-label">Download Photo</label>
            <input asp-for="@Model.ImageFile" accept="image/*" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="slider" asp-action="index" />
    </form>
</div>
